/* 1. Tailwind + daisyUI (쓰고 있다면) */
@import "tailwindcss";
@plugin "daisyui";

/* 2. 폰트 설정 */
@font-face {
  font-family: 'BookkMyungjo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
@font-face {
    font-family: 'DaeguDongseongRo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/DaeguDongseongro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'SandollSamlipHobbangOutline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SamlipCreamyWhite';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-4@1.0/TTSamlipCreamyWhiteR.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

/* Tailwind 기본 body 폰트보다 뒤에, 그리고 확실히 이기게 !important */
html, body {
  font-family: 'SandollSamlipHobbangOutline', system-ui, -apple-system, BlinkMacSystemFont, sans-serif !important;
}

/* 3. 나머지 커스텀 CSS */

.toastui-editor-toolbar-icons[data-tooltip="오늘 날짜 삽입"] {
  background-image: none !important;
  text-indent: 0 !important;
  color: #38a169;
  padding: 0 8px;
  line-height: 28px;
  font-weight: bold;
}

a:link {
  color: #1f2937;
}
a:visited {
  color: #1f2937;
}
a:hover {
  color: #4f46e5;
}
a:active {
  color: #4f46e5;
}
